<br>
<h1>Rox Climber Photos</h1>
<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to 'Most Recent', photos_path(order: "updated_at"), class: "dropdown-item" %>
    <%= link_to 'Route Grade', photos_path(order: "route_grade"), class: "dropdown-item" %>
    <%= link_to 'Route Location', photos_path(order: "route_location"), class: "dropdown-item" %>
    <%= link_to 'Route Style', photos_path(order: "route_style"), class: "dropdown-item" %>

  </div>
</div>

<div class="container">
    <div class="row">
        <% @photos.each_with_index do |photo, index| %>
            <div class="col p-3">
                <div class="card" style="width: 18rem;">
                    <%= image_tag photo.route_image, class: "card-img-top" %>
                    <div class="card-body">
                        <h5><%= photo.route_title %></h5>
                        <h6><%= photo.creator.email %></h6>
                        <p><%= photo.route_grade %></p>
                        <a href="#" class="btn btn-primary">Show</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div> 
        <% end %>
    </div>
</div>
