<br>
<h1><%= @photo.route_title %></h1>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <h3><%= link_to @photo.creator.email, profile_path(email: @photo.creator.email)%></h3>
      <h4 style="font-weight: bold">Route Image: </h4>
      <%= image_tag @photo.route_image, style: "width: 60vh; margin-bottom: 20px"  %>
      <div class="row">
        <div class="col">
          <h4 style="font-weight: bold">Route Grade:</h4>
          <h5><%= @photo.route_grade %></h5>
        </div>
        <div class="col" style="margin-left: 0px;">
          <% if  current_user != nil %>
            <% if Like.where(user_id: current_user.id).where(photo_id: @photo.id).take == nil %>
                <div class="btn-group mr-2" role="group">
                  <%= bootstrap_form_with model: @like, url: likes_path(photo_id: @photo.id), method: :post, local: true do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :photo_id, value: @photo.id %>                    
                  <%= f.submit "Like", class: "btn btn-primary" %>
                  <% end %>
              </div>
            <% else %>
              <div class="btn-group mr-2" role="group">
                  <%= link_to "Unlike", like_path(user_id: current_user.id, photo_id: @photo.id), method: :delete, class: "btn btn-danger" %>
              </div>
            <% end %>
          <% end %>
        
        
          <% if  current_user != nil %>
            <% if Favorite.where(user_id: current_user.id).where(photo_id: @photo.id).take == nil %>
                <div class="btn-group mr-2" role="group">
                  <%= bootstrap_form_with model: @favorite, url: favorites_path(photo_id: @photo.id), method: :post, local: true do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :photo_id, value: @photo.id %>                    
                  <%= f.submit "Favorite", class: "btn btn-primary" %>
                  <% end %>
              </div>
            <% else %>
              <div class="btn-group mr-2" role="group">
                  <%= link_to "Unfavorite", favorite_path(user_id: current_user.id, photo_id: @photo.id), method: :delete, class: "btn btn-danger" %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
      
      <br>
      <h4 style="font-weight: bold">Route Style:</h4>
      <h5><%= @photo.route_style %></h5>
      <br>
      <h4 style="font-weight: bold">Route Location:</h4>
      <h5><%= link_to @photo.route_location, location_path(where: @photo.route_location, route_title: @photo.route_title)%></h5>
      <br>
      <h4 style="font-weight: bold">Route Description:</h4>
      <h5><%= @photo.route_description %></h5>
    </div>

    <div class="col">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Comments</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= User.find(comment.user_id).email %>: <%= comment.text %></td>
              <td><%= comment.created_at.strftime('%m/%d/%Y') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if current_user != nil %>
        <%= bootstrap_form_with model: @comment, method: :post, url: photo_comments_path(@photo), local: true do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_field :text %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
  
</div>



